#container {
  width: 80vw;
  height: 100vh;
  background: #343541;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: visible;
}
#promptList {
  list-style-type: none;
  margin-left: 0;
  padding-right: 0;
  width: 100%;
  color: White;
  display: flex;
  flex-direction: column;
}
#promptList li {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;

  background-color: #444654;

  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
#promptList li:hover {
  background-color: #444647;
}

.buttonContainer {
  flex-direction: row;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  bottom: 0;
}

#deleteAll {
  text-align: center;
  align-self: center;
  justify-self: center;
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: rgb(210, 168, 30);
  rotate: 0deg;
  border-radius: 15px;
}

.save {
  rotate: 0deg;
  color: white;
}

#logout {
  position: relative;
  bottom: 0;
  align-self: center;
  justify-self: center;
  font-size: medium;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: rgb(220, 78, 78);
  rotate: 0deg;
  cursor: pointer;
}

.sidemenu {
  width: 20vw;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background-color: #202123;
  display: flex;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.modelform {
  width: 50%;
  margin: 0 auto;
  color: white;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #202123;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

select {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
}

optgroup {
  font-size: 1.1em;
  font-style: italic;
}

input[type="submit"] {
  display: block;
  margin: 1em auto 0;
  padding: 0.5em 1em;
  background-color: #202123;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #444654;
}

.slidecontainer {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slidecontainer input {
  margin-bottom: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #444654;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #444654;
  cursor: pointer;
}
#chat_container {
  flex: 1;
  width: 80%;
  height: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}

.ai {
  background: #444654;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: #4e32ca;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #0ea07c;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;
  align-self: center;
  color: #dcdcdc;
  font-size: 20px;
  max-width: 100%;
  white-space: pre-wrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chatform {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding: 10px;
  background: #40414f;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.chatform img {
  justify-content: center;
  text-align: center;
}

textarea {
  width: 100%;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
  color: gray;
  margin: 10px;
}
.send {
  rotate: 90deg;
}

.chatform svg {
  width: 25px;
  color: #8e8ea0;
  height: 25px;
}

.chatform svg:hover {
  transform: scale(1.1);
}
.wrapper {
  width: 100%;
  padding: 15px;
  min-height: fit-content;
}
