@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
  display: flex;
  overflow-x: hidden;
}

body {
  background: #343541;
}

.wrapper {
  width: 100%;
  padding: 15px;
}
