#container {
  width: 80vw;
  height: 100vh;
  background: #343541;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: visible;

}

.sidemenu {
  width: 20vw;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background-color: #202123 ;
  display: flex;

}
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 10px;
}
.modelform {
  width: 50%;
  margin: 0 auto;
  color: white;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #202123;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

select {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
}

optgroup {
  font-size: 1.1em;
  font-style: italic;
}

input[type="submit"] {
  display: block;
  margin: 1em auto 0;
  padding: 0.5em 1em;
  background-color: #202123;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #444654;
}

.slidecontainer {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.slidecontainer input{
  margin-bottom: 10px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #444654; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #444654; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
#chat_container {

  flex: 1;
  width: 80%;
  height: auto;
  overflow-y: scroll;




  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}


/* #chat_container::-webkit-scrollbar {
  display: none;
} */


.ai {
  background: #444654;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #4e32ca;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #0ea07c;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #dcdcdc;
  font-size: 20px;

  max-width: 100%;



  white-space: pre-wrap;

  -ms-overflow-style: none;
  scrollbar-width: none;

}


.chatform {

  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #40414F;

  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;
}
.chatform img {

  justify-content: center;
  text-align: center;
}

textarea {
  width: 100%;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
  rotate: 90deg;
  color: gray;
  margin: 10px;
}


.chatform svg {
  width: 25px;
  color: #8e8ea0;
  height: 25px;
}

.chatform svg:hover {
  transform: scale(1.1);
}
