nav {
    display: flex;
    background: #40414F;
    padding: 0 0px;
    width: 100%;
    border: none;
  }
  
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style: none;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    color: #dcdcdc;
    text-decoration: none;
    font-size: 20px;
  }
  
  a:hover {
    color: #5436DA;
  }

